{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb/base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": [
      "tsconfig.json"
    ],
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": [
      2,
      "always"
    ],
    "brace-style": [
      2,
      "1tbs"
    ],
    "no-nested-ternary": [
      0
    ],
    "no-plusplus": [
      0
    ],
    "no-underscore-dangle": [
      0
    ],
    "import/prefer-default-export": [
      0
    ],
    "import/no-cycle": [
      0
    ]
  }
}
